html, body, header, main, img footer {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    margin: auto;
    background: linear-gradient(lightblue, white);
    height: 1000px;
}

#internal-header h1 {
    font-family: Galada;
    font-size: 350%;
    margin-left: 50px;
    flex-basis: 35%;
}

#internal-header {
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    border-bottom: solid black 1px;
}

.positional {
    border: 1px solid blue;
}



#home-header {
    text-align: center;
}

#home-header img{
    width: 100%;
    height: 1008px;
    animation: fadeIn 1s;
}

#home-header h1 {
    font-family: Galada;
    color: white;
    font-size: 400%;
    position: absolute;
    top: 400px;
    right: 200px;
    animation: fadeIn 1s;
}

#home-header p {
    position: absolute;
    right: 1000px;
    top: 950px;
    font-size: xx-small;
}

#nav-main {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 550px;
    right: 220px;
    animation-delay: .5s;
    animation: fadeIn 1s;
}

#nav-main a {
    background-color: white;
    color: black;
    height: 50px;
    margin: 20px;
    width: 300px;
    border-radius: 30px;
    text-decoration: none;
    font-family: Galada;
    font-size: 200%;
    justify-content: center;
    opacity: 75%;
}

#nav-main a:hover{
    opacity: 100%;
}

nav ul {
    list-style: none;
    display: flex;
}



nav li {
    margin-right: 50px;
    width: 100px;
    text-align: center;
    border-radius: 5px;
}

nav li a {
    font-family: Galada;
    text-decoration: none;
    color: #00000A;
    font-size: 200%;

}

nav li a:hover {
    color: blue;
}

main {
    display: flex;
    height: 785px;
    justify-content: center;
}

.info-card {

    font-family: Roboto Flex;
    font-size: 125%;
    margin: auto;
    display: flex;
    height: 450px;
    width: 45%;
    border-radius: 10px;
    box-shadow:lightgray 1px 1px 1px;
    background-color: white;
    animation: fadeIn 400ms;
}

#faq-block, #lodg-block {
    width: 90%;
    height: 800px;
    margin-top: 30px;

}

#lodg-block {
    margin-top: 10px;
}

.info-card img {
    width: 75%;
    border-radius: 5px;
}

#faq-block img, #lodg-block img {
    width: 90%;
}


#link-click img {
    width: 500px;

}

#link-click h2 {
    font-family: Roboto Flex;
    color: white;
    font-weight: 1200;
    position: absolute;
    margin-left: 40px;
}




.info-block, .title-pic {
    width: 45%;
    margin-left: 20px;
}

#link-click {
    width: 500px;
    margin: auto 10px;
}

#link-click img {
    border: 5px solid white;
    border-radius: 10px;
}


#link-click img:hover {
    border: blue 5px solid;
}

.info-block {
    margin-top: 100px;
    
}


#learn-main {
    display: flex;
    width: 80%;
    margin: auto 10%;
    justify-content: center;
    animation: fadeIn 400ms;


}

#faq-list {
    height: 300px;
    scrollbar-width:thin;
    overflow-y: scroll;
    border: 1px solid rgb(216, 216, 216);
    border-right: none;
    padding: 10px;
}

#faq-list p {
    margin-top: 5px;
}

#faq-list h4 {
    margin-bottom: 2px;
}


#faq-info {
    width: 60%;
    margin-right: 300px;
  
}

#lodging-info {
    display: flex;
    flex-direction: column;
    position: absolute; 
    top: 263px;
    width: 55%;
}
#lodging-info img {
    width: 195px;
    margin-bottom: 10px;
    margin-right: 20px;
}

.lodging-block {
    display: flex;
}

.lodging-block h2 {
    margin-bottom: 1px;
}

.lodging-block p {
    margin-top: 1px;
}

#lodging-main {
    height: 825px;
}
footer {
    background-color: whitesmoke;
}
@keyframes fadeIn {

    0% {opacity: 0;}
    10% {opacity: .1;}
    30% {opacity: .3;}
    40% {opacity: .4;}
    50% {opacity: .5;}
    60% {opacity: .6;}
    70% {opacity: .7;}
    80% {opacity: .8;}
    90% {opacity: .9;}
    100% {opacity: 1;}

}